name: Deploy Cloud Function
#
on:
  push:
    branches:
      - "main"

env:
  REGION: us-central1
  REPO_NAME: stock-functions-repo
  IMAGE_NAME: stock-processor
  TF_VAR_project_id: ${{ vars.GCP_PROJECT_ID }}

jobs:
  deploy_function:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - id: auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.IDENTITY_PROVIDER }}
          service_account: ${{ secrets.SERVICE_ACCOUNT }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Docker Auth
        run: |
          gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev --quiet

      - name: Build and Push Container
        run: |
          IMAGE_URL="${{ env.REGION }}-docker.pkg.dev/${{ env.TF_VAR_project_id }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:${{ github.sha }}"
          docker build -t $IMAGE_URL .
          docker push $IMAGE_URL
          echo "IMAGE_URL=$IMAGE_URL" >> $GITHUB_ENV