name: 'Terraform'

on:
  push:
    branches: [ "main" ]
    paths:
      - 'infra/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'infra/**'
  workflow_dispatch:

permissions:
  contents: read
  id-token: 'write'

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-24.04
    environment: production

    defaults:
      run:
        shell: bash

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v4

    - id: auth
      uses: google-github-actions/auth@v2.0.0  
      with:
        workload_identity_provider: ${{ secrets.IDENTITY_PROVIDER }}
        service_account: ${{ secrets.SERVICE_ACCOUNT }}


          
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        # cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
        terraform_wrapper: false


    - name: Terraform Init
      run: |
        cd infra
        terraform init


    # Generates an execution plan for Terraform
    - name: Terraform Plan
      run: |
        cd infra
        terraform plan -input=false


    - name: Terraform Apply
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      run: |
        cd infra
        terraform apply -auto-approve -input=false

